In [2]:
import pandas as pd

In [3]:
df =  pd.read_csv('metadata.csv', index_col=0, dtype={'patient': 'str'})

In [4]:
df.head()

  patient  node  x_coord  y_coord  tumor  slide  center  split
0     004     4    13230    87300      1      0       0      0
1     004     4    12870    89010      1      0       0      0
2     004     4    13140    87300      1      0       0      0
3     004     4    12780    88740      1      0       0      0
4     004     4    10710    75780      1      0       0      0

In [5]:
df['patient'].unique()

array(['004', '009', '010', '012', '015', '016', '017', '020', '021',
       '022', '024', '034', '036', '038', '039', '040', '041', '042',
       '044', '045', '046', '048', '051', '052', '060', '061', '062',
       '064', '066', '067', '068', '072', '073', '075', '080', '081',
       '086', '087', '088', '089', '092', '096', '099'], dtype=object)

In [6]:
df['center'].unique()

array([0, 1, 2, 3, 4])

In [7]:
for center in df['center'].unique():
    subset = df[df["center"] == center]
    print(f"For hospital {center}, the patients are {subset['patient'].unique()}. ")

For hospital 0, the patients are ['004' '009' '010' '012' '015' '016' '017'].
For hospital 1, the patients are ['020' '021' '022' '024' '034' '036' '038' '039'].
For hospital 2, the patients are ['040' '041' '042' '044' '045' '046' '048' '051' '052'].
For hospital 3, the patients are ['060' '061' '062' '064' '066' '067' '068' '072' '073' '075'].
For hospital 4, the patients are ['080' '081' '086' '087' '088' '089' '092' '096' '099'].

In [8]:
for patient in df['patient'].unique():
    # how many rows corresponding to this patient
    subset = df[df["patient"] == str(patient)]
    print(f"For patient {patient}, there are {len(subset)} entries.")

For patient 004, there are 8790 entries.
For patient 009, there are 9148 entries.
For patient 010, there are 7532 entries.
For patient 012, there are 27314 entries.
For patient 015, there are 20740 entries.
For patient 016, there are 6726 entries.
For patient 017, there are 37336 entries.
For patient 020, there are 14552 entries.
For patient 021, there are 3179 entries.
For patient 022, there are 20133 entries.
For patient 024, there are 7494 entries.
For patient 034, there are 9321 entries.
For patient 036, there are 5121 entries.
For patient 038, there are 2271 entries.
For patient 039, there are 4973 entries.
For patient 040, there are 7378 entries.
For patient 041, there are 7900 entries.
For patient 042, there are 13675 entries.
For patient 044, there are 10312 entries.
For patient 045, there are 14883 entries.
For patient 046, there are 15671 entries.
For patient 048, there are 9324 entries.
For patient 051, there are 63523 entries.
For patient 052, there are 25750 entries.
For patient 060, there are 21387 entries.
For patient 061, there are 6496 entries.
For patient 062, there are 17211 entries.
For patient 064, there are 7752 entries.
For patient 066, there are 7513 entries.
For patient 067, there are 12560 entries.
For patient 068, there are 21623 entries.
For patient 072, there are 10535 entries.
For patient 073, there are 115035 entries.
For patient 075, there are 38814 entries.
For patient 080, there are 14109 entries.
For patient 081, there are 22041 entries.
For patient 086, there are 30727 entries.
For patient 087, there are 15033 entries.
For patient 088, there are 13195 entries.
For patient 089, there are 9433 entries.
For patient 092, there are 28478 entries.
For patient 096, there are 114818 entries.
For patient 099, there are 32608 entries.

In [41]:
patients_to_keep = [
    # Hospital 0
    '009',  # train
    '010',  # val
    
    # Hospital 1
    '036',  # train
    '024',  # val
    
    # Hospital 2
    '042',  # train
    '044',  # val
    
    # Hospital 3
    '067',  # train
    '062',  # val
    
    # Hospital 4
    '087',  # train
    '092'   # val
]

In [42]:
filtered_df = df[df['patient'].isin(patients_to_keep)]

In [43]:
filtered_df.head()

   patient  node  x_coord  y_coord  tumor  slide  center  split
56     009     1    50490   143640      1      1       0      0
57     009     1    50850   145080      1      1       0      0
58     009     1    50220   142920      1      1       0      0
59     009     1    52380   143460      1      1       0      0
60     009     1    48600   138690      1      1       0      0

In [12]:
len(filtered_df), len(df)

(161522, 892414)

In [13]:
(len(df) - len(filtered_df)) / len(df) * 100

81.9005528824066

In [44]:
filtered_df.to_csv('metadata_subset.csv')

In [15]:
filter_9 = df[df['patient'].isin(patients_to_keep[:2])]

In [16]:
filter_9.to_csv('metadata_subset_9.csv')

In [17]:
filter_9.tail()

       patient  node  x_coord  y_coord  tumor  slide  center  split
504986     009     1    33390   122670      0      1       0      0
504989     010     4    75330    68220      0      2       0      1
504995     010     4    73260    73350      0      2       0      1
504996     009     1    42120   181890      0      1       0      0
504999     010     4    61380    58590      0      2       0      1

In [36]:
subset_1 = df[(df["center"] == 4) & (df["split"] == 0)]

In [38]:
subset_2 = df[(df["center"] == 4) & (df["split"] == 1)]

In [39]:
for patient in subset_1["patient"].unique():
    # how many rows corresponding to this patient
    subset = df[df["patient"] == str(patient)]
    print(f"For patient {patient}, there are {len(subset)} entries.")

For patient 080, there are 14109 entries.
For patient 081, there are 22041 entries.
For patient 086, there are 30727 entries.
For patient 087, there are 15033 entries.
For patient 088, there are 13195 entries.
For patient 089, there are 9433 entries.
For patient 096, there are 114818 entries.

In [40]:
for patient in subset_2["patient"].unique():
    # how many rows corresponding to this patient
    subset = df[df["patient"] == str(patient)]
    print(f"For patient {patient}, there are {len(subset)} entries.")

For patient 092, there are 28478 entries.
For patient 099, there are 32608 entries.