In [1]:
import pandas as pd

In [17]:
dataset_path = 'metadata.csv'

In [18]:
df = pd.read_csv(dataset_path, index_col=0, dtype={'patient': 'str'})

In [19]:
df.head()

  patient  node  x_coord  y_coord  tumor  slide  center  split
0     004     4    13230    87300      1      0       0      0
1     004     4    12870    89010      1      0       0      0
2     004     4    13140    87300      1      0       0      0
3     004     4    12780    88740      1      0       0      0
4     004     4    10710    75780      1      0       0      0

In [25]:
len(df[(df['center'] == 0) & (df['tumor'] == 1)])

58793

In [26]:
len(df[(df['center'] == 0) & (df['tumor'] == 0)])

58793

In [28]:
df[(df['center'] == 0) & (df['tumor'] == 1)].head()

  patient  node  x_coord  y_coord  tumor  slide  center  split
0     004     4    13230    87300      1      0       0      0
1     004     4    12870    89010      1      0       0      0
2     004     4    13140    87300      1      0       0      0
3     004     4    12780    88740      1      0       0      0
4     004     4    10710    75780      1      0       0      0

In [29]:
df[(df['center'] == 0) & (df['tumor'] == 0)].head()

       patient  node  x_coord  y_coord  tumor  slide  center  split
446207     004     4    27900    71280      0      0       0      0
446208     017     2    50040   100440      0      8       0      0
446209     017     4    20340    45360      0      9       0      0
446210     009     1    37530   154350      0      1       0      0
446211     016     1    51750   115830      0      6       0      0

In [30]:
for center in range(5):
    samples_in_center = len(df[df['center'] == center])
    tumor_samples_in_center = len(df[(df['center'] == center) & (df['tumor'] == 1)])
    non_tumor_samples_in_center = len(df[(df['center'] == center) & (df['tumor'] == 0)])
    print(f'Center {center}: Total samples = {samples_in_center}, Tumor samples = {tumor_samples_in_center}, Non-tumor samples = {non_tumor_samples_in_center}')

Center 0: Total samples = 117586, Tumor samples = 58793, Non-tumor samples = 58793
Center 1: Total samples = 67044, Tumor samples = 33522, Non-tumor samples = 33522
Center 2: Total samples = 168416, Tumor samples = 84208, Non-tumor samples = 84208
Center 3: Total samples = 258926, Tumor samples = 129463, Non-tumor samples = 129463
Center 4: Total samples = 280442, Tumor samples = 140221, Non-tumor samples = 140221